@using Progetto.Services;
@using System.Linq;

@model  Progetto.Models.ModelPersona
@{
    ViewBag.Title = "Dati Utente";
    var servizio = new OttieniComuni();
    var comuni = servizio.CaricaComuni();

    var nomeComuni = comuni.Select(x => x.Denominazione);
    var codiceComuni = comuni.Select(x => x.Codice);

}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Dati Utente</h1>
    </section>

    <div class="row">
        <section class="col-md-6 offset-3">
            @using (Html.BeginForm("DatiUtente", "Home"))
            {
                <div class="row">
                    <div class="col-4">
                        @Html.LabelFor(x => Model.Nome)
                    </div>
                    <div class="col-8">
                        @Html.TextBoxFor(x => Model.Nome)
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        @Html.LabelFor(x => Model.Cognome)
                    </div>
                    <div class="col-8">
                        @Html.TextBoxFor(x => Model.Cognome)
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        @Html.LabelFor(x => Model.DataNascita)
                    </div>
                    <div class="col-8">
                        @Html.EditorFor(x => Model.DataNascita)
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        @Html.LabelFor(x => Model.Sesso)
                    </div>
                    <div class="col-8">
                        @Html.RadioButtonFor(x => Model.Sesso, 'm' ) M
                        @Html.RadioButtonFor(x => Model.Sesso, 'f' ) F
                    </div>
                </div>
            }
        </section>
    </div>
</main>