@model Giorno_5.Models.PersonalDataViewModel
@{
    ViewBag.Title = "CalcoloCodiceFiscale";
}

<h2>CalcoloCodiceFiscale</h2>
<hr />
<dl class="dl-horizontal">

    <dt>
        @Html.DisplayNameFor(model => model.Nome)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nome)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Cognome)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Cognome)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DataNascita)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DataNascita)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Istat)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Istat)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Sesso)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Sesso)
    </dd>

</dl>

