@using DataLayer
@model IEnumerable<DataLayer.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary mx-2" asp-action="Form">Aggiungi utente</a>
    <a class="btn btn-secondary mx-2" asp-controller="City" asp-action="Index">Passa alle Città</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthcity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiscalCode)
            </th>
            <th>
                Azioni
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthcity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FiscalCode)
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
